body {
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
}

div {
    font-size: 200%;
    color: royalblue;
    display: inline-block; 
    padding: 20px;
    border: 3px solid black;
    margin: 10px;
}

#output {
    color: yellow;
    background-color: black;
}